@import "../../../styles/settings.scss";
@import "../../../styles/bootstrap.scss";

// depending on bootstrap breakpoint add or remove the class

$form-border-width: 1px;
$form-searchbox-bg-color: $white;
$form-searchbox-hover-bg-color: $primary;

.root {
  box-shadow: 2px 3.464px 6px $menubar-boxshadow;
  background-color: $menubar-bg-color;

  // :global(.container) > :global(.row) {
  //   // height: max(84px, 100%);
  //   height: 100%;
  // }
  .container {
    padding: 0;
    height: 100%;
    position: relative;
  }

  .menu > ul > li {
    display: none;
    .hamburger {
      display: none;
    }
  }
  .menuToggler {
    position: relative;
    // border: $form-border-width solid $form-border-color;
    border: 0;
    background-color: $menubar-bg-color;
    // padding: 25%;
    margin: 0;
    // :hover {
    //   background-color: $menubar-link-hover-bg-color;
    //   color: $menubar-link-hover-text-color;
    // }
    &:hover {
      color: $menubar-link-hover-text-color;
      background-color: $menubar-link-hover-bg-color;
      border: $menubar-link-hover-border-color;
    }

    & .hamburger {
      display: block;
      font-size: 45px;
    }
  }

  .menu > ul > li.active {
    display: none;
    a {
      position: relative;
      display: flex;
    }
  }
  .menu.expand {
    ul > li {
      display: flex;
    }
  }
  // overflow: visible;
  .menu {
    // display: flex;
    position: absolute;
    // bottom: 0%;
    align-self: stretch;
    z-index: 10;
    ul {
      margin: 0;
      padding: 0;
      display: flex-column;
      width: 100%;
      background-color: $menubar-bg-color;

      li {
        list-style: none;
        // display: flex;
        align-items: stretch;
        width: 100%;
      }
      a {
        color: $menubar-link-text-color;
        text-transform: uppercase;
        font-size: 12px;
        padding: 1rem;
        text-decoration: none;
        // display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-left: 4px solid $menubar-link-border-color;
        border-right: 4px solid $menubar-link-border-color;
        font-weight: 500;
        letter-spacing: 1px;
        width: 100%;

        &:hover,
        &.active {
          background-color: $menubar-link-hover-bg-color;
          color: $menubar-link-hover-text-color;
          border-color: $menubar-link-hover-border-color;
        }

        &.active {
          border-color: $menubar-link-hover-active-color;
        }
      }

      li.active a {
        background-color: $menubar-link-hover-bg-color;
        color: $menubar-link-hover-text-color;
        border-color: $menubar-link-hover-active-color;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .menu > ul > li.active {
      display: flex;
      a {
        display: flex;
        border-left: 0;
        border-right: 0;
      }
    }
    .menu > button {
      display: none;
    }

    .menu {
      position: relative;
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;
        }
        .hamburger {
          display: none;
        }
      }

      a {
        color: $menubar-link-text-color;
        text-transform: uppercase;
        font-size: 12px;
        padding: 1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        border: 0;
        border-top: 4px solid $menubar-link-border-color;
        font-weight: 500;
        letter-spacing: 1px;

        &:hover,
        &.active {
          background-color: $menubar-link-hover-bg-color;
          color: $menubar-link-hover-text-color;
          border-top-color: $menubar-link-hover-border-color;
        }

        &.active {
          border-color: $menubar-link-hover-active-color;
        }
      }
    }
  }
}
