$base-padding: 24px;

$text-color: #2a2a2a;

// COLOR PALLETTE
$primary: #d58e32;
$black: #000000;
$dark-grey: #2a2a2a;
$darker-grey: #363636;
$white: #ffffff;
$grey: #b6b6b6;
$primary: #d58e32;
$teal-tint: rgba(1, 2, 2, 0.2);

$test-color: rgb(255, 0, 200);

// COMPONENT & ELEMENT COLORS
$form-border-color: $dark-grey;
$form-border-color: $dark-grey;
$form-searchbox-text-color: $dark-grey;
$form-searchbox-placeholder-text-color: $dark-grey;
$form-searchbox-icon-text-color: $primary;

$button-bg-color: $dark-grey;
$button-color: $white;
$button-bg-hover-color: $primary;
$button-outline-color: $dark-grey;
$button-bg-color: $dark-grey;
$button-border-color: $dark-grey;

$feature-box-text-color: $dark-grey;
$feature-box-bg-color: $white;
$feature-box-border-color: $grey;
$feature-box-bg-active-color: $primary;
$feature-box-border-active-color: $primary;
$feature-box-text-active-color: $dark-grey;
$feature-box-icon-color: $dark-grey;
$feature-box-icon-active-color: $white;

$product-box-bg-color: $white;
$product-box-border-color: $grey;
$product-box-photo-bg-color: $white;
$product-box-photo-sale-bg-color: $dark-grey;
$product-box-photo-sale-text-color: $white;
$product-box-stars-color: $dark-grey;
$product-box-line-color: $dark-grey;
$product-box-line-decorator-color: $primary;
$product-box-title-color: $primary;
$product-box-price-hover-bg-color: $primary;
$product-box-price-bg-color: $dark-grey;

$footer-bg: $darker-grey;
$footer-claim-bg: $dark-grey;
$footer-claim-text: $grey;
$footer-claim-social-text: $grey;
$footer-claim-social-hover-text: $primary;
$footer-menu-header-text-color: $white;
$footer-menu-item-text-color: $grey;
$footer-menu-item-hover-text-color: $white;

$header-bg-color: $darker-grey;
$header-phone-number-text-color: $grey;
$header-phone-number-icon-color: $primary;
$header-cart-text-color: $white;
$header-cart-icon-color: $white;
$header-cart-icon-bg-color: $primary;
$header-topbar-bg: $dark-grey;
$header-topbar-text-color: $white;
$header-topbar-hover-text-color: $primary;

$menubar-bg-color: $white;
$menubar-text-color: $black;
$menubar-border-color: $white;
$menubar-boxshadow: $teal-tint;
$menubar-link-border-color: $white;
$menubar-link-text-color: $dark-grey;
$menubar-link-hover-text-color: $white;
$menubar-link-hover-bg-color: $primary;
$menubar-link-hover-border-color: $primary;
$menubar-link-hover-active-color: $dark-grey;

$panelbar-border-color: #e2e2e2;
$panelbar-menu-item-text-color: $grey;
$panelbar-header-text-color: $primary;
$panelbar-menu-item-active-text-color: $primary;
$panelbar-dots-color: $grey;
$panelbar-dots-bg-color: $white;
$panelbar-dots-active-color: $primary;

$brandsbar-border-color: $grey;
$brandsbar-arrow-bg-color: $dark-grey;
$brandsbar-arrow-color: $white;

$promotions-bg-color: $white;
$promotions-border-color: $grey;
