@import "../../../styles/settings.scss";

.root {
  background-color: $product-box-bg-color;
  border: 1px solid $product-box-border-color;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $product-box-photo-bg-color;
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $product-box-photo-sale-bg-color;
      border-radius: 50%;
      color: $product-box-photo-sale-text-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      visibility: hidden;
    }
  }

  &:hover .photo .buttons {
    visibility: visible;
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $product-box-title-color;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $product-box-stars-color;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $product-box-line-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $product-box-line-decorator-color;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:hover .price > * {
    background-color: $product-box-price-hover-bg-color;
  }
}

.buttonActive {
  background-color: $primary;
}

.price {
  display: flex;

  .oldPrice{
    font-size: 16px;
    color: $dark-grey;
    margin: auto 5px;
    text-decoration: line-through;
    text-decoration-color: $primary;
    text-decoration-thickness: 2px;
    
  }
}