@import "../../../styles/settings.scss";
@import "../../../styles/bootstrap.scss";

.root {
  position: relative;

  .menuToggler {
    position: relative;
    border: 0;
    background-color: $menubar-bg-color;
    margin: 0;
    &:hover {
      color: $menubar-link-hover-text-color;
      background-color: $menubar-link-hover-bg-color;
      border: $menubar-link-hover-border-color;
    }
    & .hamburger {
      display: block;
      font-size: 45px;
    }
  }
  .menuToggler.desktop {
    display: none;
  }

  .menu {
    display: none;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: $menubar-bg-color;

      li {
        list-style: none;
        display: flex;
        width: 100%;
      }
      a {
        color: $menubar-link-text-color;
        text-transform: uppercase;
        font-size: 12px;
        padding: 1rem;
        text-decoration: none;
        // display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-left: 4px solid $menubar-link-border-color;
        border-right: 4px solid $menubar-link-border-color;
        font-weight: 500;
        letter-spacing: 1px;
        width: 100%;

        &:hover,
        &.active {
          background-color: $menubar-link-hover-bg-color;
          color: $menubar-link-hover-text-color;
          border-color: $menubar-link-hover-active-color;
        }

        &.active {
          border-color: $menubar-link-hover-active-color;
        }
      }

      li.active a {
        background-color: $menubar-link-hover-bg-color;
        color: $menubar-link-hover-text-color;
        border-color: $menubar-link-hover-active-color;
      }
    }
  }
  .menu.expanded {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;

    z-index: 10;
  }

  .menu.desktop {
    display: flex;
    position: relative;
    ul {
      flex-direction: row;
      li {
        display: flex;
        border-top: 4px solid $menubar-link-border-color;
        a {
          display: flex;
          border-left: 0;
          border-right: 0;
        }
        &:hover,
        &.active {
          background-color: $menubar-link-hover-bg-color;
          color: $menubar-link-hover-text-color;
        }

        &.active {
          border-color: $menubar-link-hover-active-color;
        }
      }
    }
    //     .menu > ul >
  }
  // .menu.collapsed > ul > li {
  //   display: none;
  // }

  // .menu.collapsed > ul > li.active {
  //   display: none;
  //   a {
  //     position: relative;
  //     display: flex;
  //   }
  // }

  // .menu.expand {
  //   ul > li {
  //     display: flex;
  //     height: 100%;
  //   }
  // }
  // overflow: visible;

  //   @include media-breakpoint-up(sm) {
  //     .menu > ul > li.active {
  //       display: flex;
  //       a {
  //         display: flex;
  //         border-left: 0;
  //         border-right: 0;
  //       }
  //     }
  //     .menu > button {
  //       display: none;
  //     }

  //     .menu {
  //       position: relative;
  //       display: flex;
  //       align-self: stretch;

  //       ul {
  //         margin: 0;
  //         padding: 0;
  //         display: flex;

  //         li {
  //           list-style: none;
  //           display: flex;
  //           align-items: stretch;
  //         }
  //         .hamburger {
  //           display: none;
  //         }
  //       }

  //       a {
  //         color: $menubar-link-text-color;
  //         text-transform: uppercase;
  //         font-size: 12px;
  //         padding: 1rem;
  //         text-decoration: none;
  //         display: flex;
  //         align-items: center;
  //         border: 0;
  //         border-top: 4px solid $menubar-link-border-color;
  //         font-weight: 500;
  //         letter-spacing: 1px;

  //         &:hover,
  //         &.active {
  //           background-color: $menubar-link-hover-bg-color;
  //           color: $menubar-link-hover-text-color;
  //           border-top-color: $menubar-link-hover-border-color;
  //         }

  //         &.active {
  //           border-color: $menubar-link-hover-active-color;
  //         }
  //       }
  //     }
  //   }
}
